Lita.configure do |config|
  # The name your robot will use.
  config.robot.name = 'r'
  config.robot.log_level = :debug

  config.robot.adapter = :shell
  config.robot.alias = '!'

  config.handlers.onewheel_dynamodb_temp_graph.api_key = 'AWS api key'
  config.handlers.onewheel_dynamodb_temp_graph.api_secret = 'AWS api secret'
  config.handlers.onewheel_dynamodb_temp_graph.sensor_id = 'dynamodb field'
  config.handlers.onewheel_dynamodb_temp_graph.table_name = 'dynamo table'
  config.handlers.onewheel_dynamodb_temp_graph.s3_bucket =  's3 bucket prefix'
end
